<div class="sponsor">
    <span class="sponsor_title">Sponsor this project or donate today!</span>
    
    <div class="sponsor_btns">
        <a href="#" class="sponsor_btn">Become a Sponsor</a>
        <a href="#" class="sponsor_btn -donate">Donate Now</a>
    </div>
</div>
