.sponsor {
    margin-top: 30px;
    min-height: 326px;
    padding-top: 70px;
    box-sizing: border-box;
    
    font-family: @fontSecond;
    
    border-bottom: 3px solid white;
    background-color: @colorBlue;
    
    &_title {
        display: block;
        
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
    }
    
    &_btns {
        display: flex;
        justify-content: center;
        margin-top: 54px;
    }
    
    &_btn {
        display: flex;
        margin-left: 25px;
        padding: 17px 30px 16px 23px;
        align-items: center;
        
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        
        border: 2px solid white;
        
        &.-donate {
            padding: 17px 39px 16px 35px;
        }
        
        &::after {
            content: '';
            
            display: block;
            width: 8px;
            height: 15px;
            margin-left: 3px;
            background-image: url(__static__assets/sponsor/arrow-right.svg);
        }
        
        &:first-of-type {
            margin-left: 0;
        }
    }
}
