.section {
    margin: 40px auto 50px;
    padding-left: 95px;
    max-width: @sizeContent;
    box-sizing: border-box;
    
    font-family: @fontSecond;
    
    &_title {
        display: block;
        margin: 0 0 15px;
        color: @colorBlue;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }
    
    &_text {
        color: #666666;
        font-family: @fontMain;
        font-size: 16px;
        line-height: 22px;
    }
}
