<div class="section">
    <h2 class="section_title">Intro Text</h2>
    
    <div class="section_text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
    </div>
</div>
