<div class="promo {{theme}}">
    <span class="promo_title">Talking with children and youth about dying and death</span>
    
    <div class="promo_content">
        <img src="__static__img/assets/promo/{{image}}" alt="" class="promo_preview">
        
        <div class="promo_wrap">
            <span class="promo_text">
                <p>For caregivers as they support children and youth who:</p>
                <ul>
                    <li>Have experienced a death or </li>
                    <li>Are anticipating a death. </li>
                </ul>
            </span>
            
            <a href="promo.html" class="promo_btn">Begin</a>
        </div>
    </div>
</div>
