.promo {
    min-height: 350px;
    width: 730px;
    margin-bottom: 30px;
    padding: 30px 30px 55px 55px;
    box-sizing: border-box;
    
    font-family: @fontSecond;
    
    &:last-of-type {
        margin-bottom: 0;
    }
    
    &.-green { background-color: #a3b621; }
    &.-blue { background-color: #00a8ca; }
    &.-red { background-color: #d2531b; }
    
    &.-small {
        width: 350px;
        padding: 15px 15px 30px 30px;
        margin-bottom: 0;
    }
    
    &_title {
        display: block;
        margin-bottom: 25px;
        
        color: #181719;
        font-weight: 400;
        font-size: 22px;
    }
    
    &_content {
        display: flex;
    }
    
    &_preview {
        height: 100%;
        width: 260px;
        flex-shrink: 0;
        margin-right: 50px;
    }
    
    &.-small &_preview {
        width: 115px;
        margin-right: 15px;
    }
    
    &_text {
        font-size: 16px;
        line-height: 20px;
    }
    
    &.-small &_text p:first-of-type {
        margin-top: 0;
    }
    
    &.-small &_text ul {
        padding-left: 20px;
    }
    
    &_btn {
        display: inline-flex;
        margin-top: 25px;
        margin-left: 55px;
        padding: 11px 28px 9px 32px;
        justify-content: center;
        align-items: center;
        
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.8px;
        color: white;
        text-decoration: none;
        font-family: @fontSecond;
        
        border-radius: 2px;
        background-color: #000;
        
        &::after {
            content: '';
            
            display: block;
            width: 6px;
            height: 11px;
            margin-top: 2px;
            margin-left: 3px;
            
            background-image: url(__static__assets/promo/arrow-right.svg);
        }
    }
    
    &.-small &_btn {
        margin-left: 0;
        margin-top: 10px;
    }
}
