<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        {{> header/header}}
        
        {{> welcome/welcomeAbout}}
        
        {{> section/section}}
        
        {{> section/sectionOther}}
        
        {{> footer/footer}}

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>