<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        {{> header/header}}
        
        {{> welcome/welcome}}
        
        {{> article/article}}
        
        <div class="post">
            <div class="post_content">
                {{> promo/promo theme="-green" image="preview1.png"}}
                {{> promo/promo theme="-blue" image="preview2.png"}}
                {{> promo/promo theme="-red" image="preview3.png"}}
            </div>
            
            <div class="post_sidebar">
                {{> postPreview/postPreview}}
                
                <div class="post_delimiter"></div>
                
                {{> newsWidget/newsWidget}}
                
                {{> banner/banner}}
            </div>
        </div>
        
        {{> sponsor/sponsor}}

        {{> footer/footer}}

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>