<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        {{> header/header}}
        
        {{> welcome/welcomeModule}}
        
        <div class="post">
            <div class="post_content">
                {{> article/articleModule}}
            </div>
            
            <div class="post_sidebar">
                {{> articleNote/articleNote}}
            </div>
        </div>
        
        <div class="post -module">
            <div class="post_content">
                {{> chapter/chapter}}
                
                <div class="post_related">
                    {{> promo/promo theme="-blue -small" image="preview2.png"}}
                    {{> promo/promo theme="-red -small" image="preview3.png"}}
                </div>
            </div>
            
            <div class="post_sidebar">
                {{> postPreview/postPreview}}
            </div>
        </div>

        {{> footer/footer}}

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>