<div class="articlePreview">
    <span class="articlePreview_title">Article title like this</span>
    <span class="articlePreview_text">
        Article teaser text goes here and looks like this.Article teaser text goes here and looks like this.Article teaser text goes here and looks like this.  
        <a href="#" class="articlePreview_link link">Full Article ></a>
    </span>
</div>
