.articlePreview {
    margin-bottom: 16px;
    
    &_title {
        display: block;
        margin: 0 0 3px;
        
        color: #000000;
        font-family: @fontSecond;
        font-size: 22px;
        font-weight: 400;
        line-height: 18px;
    }
    
    &_text {
        display: block;
        
        color: #666666;
        font-family: @fontMain;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    
    &_link {
        
    }
}
