<div class="links">
    <a href="#" class="links_item link">Alberta ></a>
    <a href="#" class="links_item link">British Columbia ></a>
    <a href="#" class="links_item link">Manitoba ></a>
    <a href="#" class="links_item link">New Brunswick ></a>
    <a href="#" class="links_item link">Newfoundland and Labrador ></a>
    <a href="#" class="links_item link">Northwest Territories ></a>
    <a href="#" class="links_item link">Nova Scotia ></a>
    <a href="#" class="links_item link">Nunavut ></a>
    <a href="#" class="links_item link">Ontario ></a>
    <a href="#" class="links_item link">Prince Edward Island ></a>
    <a href="#" class="links_item link">Quebec ></a>
    <a href="#" class="links_item link">Saskatchewan ></a>
    <a href="#" class="links_item link">Yukon ></a>
</div>
