.postPreview {
    font-family: @fontSecond;
    
    &_title {
        display: block;
        margin-bottom: 6px;
        
        font-size: 24px;
        font-weight: 400;
        color: @colorBlue;
    }
    
    &_text {
        display: block;
        margin-bottom: 5px;
        
        line-height: 22px;
        font-size: 16px;
        color: #666666;
    }
    
    &_link {
        text-decoration: none;
        color: #009999;
    }
    
    &_preview {
        
    }
}
