<div class="postPreview">
    <span class="postPreview_title">Meet the Storytellers</span>
    <span class="postPreview_text">
        We are grateful to those who generously shared very personal stories to assist others. 
        <a href="post.html" class="postPreview_link">More ></a>
    </span>

    <img src="__static__img/assets/postPreview/preview.jpg" alt="" class="postPreview_preview">
</div>
