.post {
    display: flex;
    justify-content: space-between;
    max-width: @sizeContent;
    margin: 0 auto;
    
    &.-module {
        margin-top: 40px;
    }
    
    &_content {
        width: 730px;
    }
    
    &_sidebar {
        display: flex;
        flex-direction: column;
        width: 380px;
    }
    
    &_delimiter {
        margin-top: 30px;
        margin-bottom: 20px;
        height: 1px;
        
        background-color: rgba(0, 0, 0, .2);
    }
    
    &_related {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
