.article {
    max-width: 915px;
    margin: 8px auto 50px;
    
    font-family: @fontSecond;
    text-align: center;
    
    &.-module {
        margin: 0;
        padding: 0 40px 0 90px;
        text-align: left;
    }
    
    &_title {
        margin: 0;
        color: #0099cc;
        font-size: 24px;
        font-weight: 400;
    }
    
    &_text {
        display: block;
        margin-top: 9px;
        
        color: #666;
        font-size: 20px;
        line-height: 26px;
    }
}
