<div class="article -module">
    <h2 class="article_title">What should I say? Should I protect the children?</h2>
    <span class="article_text">Kids Grief is a free online resource for Canadians that etc. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</span>
</div>