.chapter {
    padding: 25px 70px 25px 35px;
    background-color: @colorGreen;
    
    &.-green { background-color: @colorGreen; }
    &.-red { background-color: @colorRed; }
    &.-blue { background-color: @colorLightBlue; }
    
    &_item {
        display: flex;
    }
    
    &_preview {
        display: block;
        width: 126px;
        height: 126px;
        flex-shink: 0;
        margin-right: 25px;
        margin-bottom: 30px;
    }
    
    &_index {
        display: block;
        font-family: @fontMain;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &_title {
        font-family: @fontSecond;
        font-size: 24px;
        font-weight: 400;
    }
    
    &_text {
        font-family: @fontMain;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    
    &_link {
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
        padding-top: 0px;
        padding-bottom: 2px;
        padding-left: 13px;
        padding-right: 5px;
        
        color: #ffffff;
        font-family: @fontSecond;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.8px;
        text-decoration: none;
        
        background-color: black;
        border-radius: 4px;
                
        &::after {
            content: '';
            
            display: block;
            width: 6px;
            height: 9px;
            margin-left: 4px;
            
            background-image: url(../img/assets/banner/arrow-right.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
