.footer {
    display: flex;
    justify-content: space-between;
    min-height: 160px;
    padding-top: 40px;
    padding-bottom: 15px;
    box-sizing: border-box;
    
    color: #000000;
    font-family: @fontSecond;
    font-size: 14px;
    
    background-color: #a3b621;
    
    &_wrap {
        display: flex;
        justify-content: space-between;
        max-width: @sizeContent;
        width: 100%;
        margin: 0 auto;
    }
    
    &_line {
        display: block;
        margin-bottom: 12px;
    }

    &_link {
        color: currentColor;
        text-decoration: none;
        
        &.-map {
            margin-right: 11px;
        }
        
        &.-copy {
            margin-top: 40px;
            margin-bottom: 0;
        }
    }
    
    &_socials {
        display: flex;
        margin-top: 20px;
    }
    
    &_social {
        margin-left: 10px;
        font-size: 30px !important;
        color: white;
        text-decoration: none;
    }
}