<div class="footer">
    <div class="footer_wrap">
        <div class="footer_contact">
            <span class="footer_line">
                Contact us by email: <a href="mailto:info@virtualhospice.ca" class="footer_link">info@virtualhospice.ca</a> 
            </span>
            <span class="footer_line">
                <a href="#" class="footer_link">Site Map</a>
                <a href="#" class="footer_link">Disclaimer & Privacy Policy</a>
            </span>
            
            <span class="footer_line -copy">
                Copyright © 2017 Canadian Virtual Hospice     
            </span>
        </div>
        
        <div class="footer_socials">
            <a href="#" rel="nofollow" target="_blank" class="fa fa-youtube-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-google-plus-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-pinterest-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-vimeo-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-facebook-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-twitter-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-linkedin-square footer_social"></a>
            <a href="#" rel="nofollow" target="_blank" class="fa fa-instagram footer_social"></a>
        </div>
    </div>
</div>