<div class="welcome">
    <div class="welcome_wrap">
        <div class="welcome_text">
            Talking with<br>
            <strong class="welcome_highlight">Kids & Youth</strong><br>
            about Serious<br>
            Illness, Dying<br>
            and Death
        </div>
        <img src="__static__img/assets/welcome/conv.png" alt="" class="welcome_img">
    </div>
</div>
