<div class="welcome -module">
    <div class="welcome_wrap">
        <div class="welcome_text -blue">
            Talking with<br>
            children and youth<br>
            about dying and death
        </div>
        <img src="__static__img/assets/welcome/module.png" alt="" class="welcome_img">
    </div>
</div>
