.welcome {
    background-image: url(__static__assets/welcome/gradient-top.jpg), url(__static__assets/welcome/gradient-bottom.jpg);
    background-repeat: repeat-x, repeat-x;
    background-color: #c8e5e7;
    background-position: center top, center bottom;
    
    &.-module {
        margin-bottom: 20px;
    }
    
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: @sizeContent;
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 200px;
        padding-top: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;
        
        &.-post {
            padding-left: 95px;
            padding-right: 150px;
        }
    }
    
    &_text {
        font-size: 36px;
        line-height: 45px;
        color: #666;
        font-family: @fontSecond;
        
        &.-blue {
            color: @colorBlue;
        }
        
        &.-post {
            padding-right: 75px;
        }
    }
    
    &_highlight,
    strong, 
    b {
        color: @colorBlue;
        font-size: 50px;
        line-height: 56px;
    }
    
    &_img {
        
    }
    
    &_title {
        display: block;
        margin: 0 0 20px;
        
        color: @colorBlue;
        font-family: @fontSecond;
        font-size: 46px;
        font-weight: 400;
        line-height: 50px;
    }
    
    &_desc {
        color: #666666;
        font-family: @fontSecond;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }
}
