<div class="welcome">
    <div class="welcome_wrap -post">
        <div class="welcome_text -post">
            <h1 class="welcome_title">Grief Resources</h1>
            
            <div class="welcome_desc">Section intro text goes here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
        </div>
        <img src="__static__img/assets/welcome/resources.png" alt="" class="welcome_img">
    </div>
</div>
