<div class="header">
    <a href="/">
        <img src="__static__img/assets/header/logo.png" alt="" class="header_logo">
    </a>
    
    <div class="header_wrap">
        <div class="header_top">
            <div class="header_links">
                <a href="index.html" class="header_link">Home</a>
                <a href="index_fr.html" class="header_link">Français</a>
            </div>
            <div class="header_socials">
                <a class="header_social -tw fa fa-twitter" href="https://twitter.com" target="_blank" rel="nofollow"></a>
                <a class="header_social -fb fa fa-facebook" href="https://fb.com" target="_blank" rel="nofollow"></a>
                <a class="header_social -yt fa fa-youtube" href="https://youtube.com" target="_blank" rel="nofollow"></a>
            </div>
        </div>
        <div class="header_bottom">
            <nav class="header_menu">
                <a href="about.html" class="header_item">About</a>
                <a href="resources.html" class="header_item">Resources</a>
                <a class="header_item js-menu-more">More</a>
            </nav>
        </div>
    </div>
</div>
