.header {
    display: flex;
    justify-content: space-between;
    max-width: @sizeContent;
    margin: 0 auto;
    
    &_logo {
        margin-top: 40px;
        margin-left: 90px;
        
        display: block;
        width: 248px;
        height: 43px;
    }
    
    &_wrap {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    
    &_top {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    
    &_bottom {
        margin-top: 15px;
    }
    
    &_links {
        margin-right: 10px;
    }
    
    &_link {
        font-family: @fontMain;
        font-size: 13px;
        font-weight: 600;
        line-height: 25px;
        text-decoration: none;
        color: #666;
        
        &:hover { color: darken(#666, 20%); }
        
        &::after {
            content: ' |';
            color: #ccc;
        }
        
        &:last-of-type::after {
            display: none;
        }
    }
    
    &_socials {
        display: flex;
    }
    
    &_social {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        margin-left: 5px;
        
        text-decoration: none;
        color: white;
        text-align: center;
        line-height: 25px !important;
        
        border-radius: 50%;
        transition: .3s all;
        
        &.-tw { background-color: #1bc1e9; }
        &.-fb { background-color: #375a9c; }
        &.-yt { background-color: #cb2b27; }
        
        &.-tw:hover { background-color: darken(#1bc1e9, 10%) }
        &.-fb:hover { background-color: darken(#375a9c, 10%) }
        &.-yt:hover { background-color: darken(#cb2b27, 10%) }
    }
    
    &_menu {
        
    }
    
    &_item {
        color: #666;
        font-family: @fontSecond;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.45px;
        text-decoration: none;
        
        transition: color .3s;
        cursor: pointer;
        
        &:hover { color: darken(#666, 20%); }
        
        &::after {
            content: ' |';
            letter-spacing: 0.62px;
            font-size: 25px;
            color: #00a6c9;
        }
        
        &:last-of-type::after {
            display: none;
        }
    }
}
