.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 31px;
    width: 377px;
    height: 191px;
    padding: 35px 12px 19px 170px;
    box-sizing: border-box;
    
    background-image: url(__static__assets/banner/banner.jpg);
    
    &_text {
        display: block;
        padding-left: 5px;
        padding-bottom: 28px;
        color: #181719;
        font-family: @fontSecond;
        font-size: 18px;
        line-height: 24px;
    }
    
    &_highlight {
        font-style: italic;
        text-decoration: underline;
    }
    
    &_link {
        display: flex;
        width: 194px;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
        
        color: #ffffff;
        font-family: @fontSecond;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        text-decoration: none;
        
        background-color: black;
        border-radius: 4px;
        
        &::after {
            content: '';
            
            display: block;
            width: 6px;
            height: 11px;

            margin-top: 5px;            
            margin-left: 9px;
            
            background-image: url(__static__assets/banner/arrow-right.svg);
        }
    }
}