<div class="banner">
    <span class="banner_text">
        Resources for<br> 
        talking with<br>
        <em class="banner_highlight">adults</em> about grief 
    </span>
    <a href="http://mygrief.ca" target="_blank" rel="nofollow" class="banner_link">Go to MyGrief.ca</a>
</div>