.newsWidget {
    font-family: @fontSecond;
    
    &_caption {
        display: block;
        margin-bottom: 9px;
        font-size: 24px;
        color: @colorBlue;
    }
    
    &_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    
    &_preview {
        display: block;
        width: 129px;
        height: 125px;
        margin-right: 20px;
        flex-shrink: 0;
    }
    
    &_content {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    
    &_title {
        display: block;
        margin-bottom: 8px;
        
        color: #181719;
        font-size: 18px;
        line-height: 20px;
    }
    
    &_text {
        display: block;
        margin-top: 5px;
        
        line-height: 16px;
        font-size: 15px;
        color: #666;
        font-family: @fontMain;
    }
    
    &_time {
        color: #999999;
        font-size: 13px;
        line-height: 21px;
        font-family: @fontMain;
    }
    
    &_link {
        display: block;
        margin-top: 8px;
        
        color: #d15421;
        font-weight: 600;
        line-height: 16px;
        font-size: 15px;
        font-family: @fontMain;
        text-decoration: none;
        
        &.-all {
            margin-left: 147px;
            margin-top: 33px;
        }
    }
}
