<div class="newsWidget">
    <span class="newsWidget_caption">What’s New</span>
    
    <div class="newsWidget_item">
        <img src="__static__img/assets/newsWidget/preview1.jpg" alt="" class="newsWidget_preview">
        
        <div class="newsWidget_content">
            <span class="newsWidget_title">Webinar Title</span>
            <span class="newsWidget_time">Oct, 23 2017  4:00 EST</span>
            <span class="newsWidget_text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</span>
            <a href="event.html" class="newsWidget_link">Register Now ></a>
        </div>    
    </div>
    
    <div class="newsWidget_item">
        <img src="__static__img/assets/newsWidget/preview2.jpg" alt="" class="newsWidget_preview">
        
        <div class="newsWidget_content">
            <span class="newsWidget_title">Give a Grieving Child a warm hug today!</span>
            <span class="newsWidget_text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</span>
            <a href="event.html" class="newsWidget_link">Register Now ></a>
        </div>    
    </div>
    
    <div class="newsWidget_item">
        <img src="__static__img/assets/newsWidget/preview3.jpg" alt="" class="newsWidget_preview">
        
        <div class="newsWidget_content">
            <span class="newsWidget_title">GriefCamp or any other feature goes here!</span>
            <span class="newsWidget_text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</span>
            <a href="event.html" class="newsWidget_link">Register Now ></a>
        </div>    
    </div>
    
    <div class="newsWidget_link -all">More News +</div>
</div>
