.cols {
    display: flex;
    justify-content: space-between;
    max-width: @sizeContent;
    margin: 0 auto;
    
    &_col {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 350px;
    }
    
    &_title {
        display: block;
        margin: 0 0 15px;
        
        color: @colorBlue;
        font-family: @fontSecond;
        font-size: 24px;
        font-weight: 400;
    }
    
    &_text {
        color: #666666;
        font-family: @fontMain;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}
