<div class="cols">
    <div class="cols_col">
        <span class="cols_title">Kids Grief Videos</span>
        
        <span class="cols_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
        
        <a href="#" class="cols_link link">Watch Videos ></a>
    </div>
    <div class="cols_col">
        <span class="cols_title">Kids Grief Articles</span>
        
        {{> articlePreview/articlePreview}}
        {{> articlePreview/articlePreview}}
        {{> articlePreview/articlePreview}}
        {{> articlePreview/articlePreview}}
        {{> articlePreview/articlePreview}}
    </div>
    <div class="cols_col">
        <span class="cols_title">Programs & Services</span>
        
        <span class="cols_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
        
        {{> links/links}}
    </div>
</div>