// Common styles of the project

html, body {
    height: 100%;
    font-family: @fontMain;
    min-width: @sizeContent;
}

.page {
    // Стили для body
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.wrap {
    width: @sizeContent;
    margin: 0 auto;
}