// File for less-vars.
// For example: main colors, paddings and so on.

@sizeContent: 1150px;

@fontMain: 'Open Sans', sans-serif;
@fontSecond: 'Capriola', sans-serif;

@colorBlue: #09c;
@colorLightBlue: #00a7ca;
@colorGreen: #a3b621;
@colorRed: #d2541b;

