<div class="articleNote">
    <p>For caregivers as they support children and youth who:</p>

    <ul>
        <li>Have experienced a death or </li>
        <li>Are anticipating a death.  </li>
    </ul>
</div>
